# Todos service
DATABASE_URL=postgres://***:***@db:5432/***?sslmode=disable
JWT_SECRET=
HTTP_PORT=8080
FILE_PATH_FOR_SAVE_TASKS=storage/task.json

# Postgresql
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# PGBOUNCER
PGBOUNCER_DATABASE_URL=postgres://***:***@db:5432/***
POOL_MODE=session
MAX_CLIENT_CONN=1000
DEFAULT_POOL_SIZE=25
RESERVER_POOL_SIZE=5
SERVER_IDLE_TIMEOUT=60
AUTH_TYPE=scram-sha-256